{% extends 'base.html' %}
{% load static %}
{% block content %}
<form name="form" method="post" action="{% url 'update' %}">
    {% csrf_token %}
    <input type="hidden" id="id" name="id" value="{{movie.id}}">

    <label for='title'>Title:</label>
    <input type="text" name='title' id="title" value="{{movie.title}}" autofocus>
    <br><br>

    <label for='actors'>Actors:</label>
    <input type="text" name='actors' id="actors" value="{{movie.actors}}">
    <br><br>

    <label for='producers'>Producers:</label>
    <input type="text" name='producers' id="producers" value="{{movie.producers}}">
    <br><br>

    <label for='directors'>Directors:</label>
    <input type="text" name='directors' id="directors" value="{{movie.directors}}">
    <br><br>

    <label for='genre'>Genre:</label>
    <input type="text" name='genre' id="genre" value="{{movie.genre}}">
    <br><br>

    <label for='release_date'>Release Date:</label>
    <input type="date" name='release_date' id="release_date" value="{{movie.release_date}}">
    <br><br>

    <img src="{{movie.poster.url}}" alt="{{movie.title}} poster" width="100" height="150"><br>
    <label for='poster'>New Poster Art:</label>
    <input type="file" name='poster' id="poster" value="{{movie.poster.url}}">
    <br><br>

    <iframe width="225" height="150" src="{{movie.trailer}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
    <label for='trailer'>New Trailer:</label>
    <input type="text" name='trailer' id="trailer" value="{{movie.trailer}}">
    <br><br>

    <label for='rating'>Hype Score:</label>
    <input type="text" name='rating' id="rating" value="{{movie.rating.rating}}">
    <br><br>

    <button type='submit'>Update</button>
</form>
{% endblock %}