{% load static %}
<!DOCTYPE html>
<html lang="en">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" /> 
    <link href="{% static 'css/css2.css' %}" rel="stylesheet" /> 
    <div class="header"> 
        <h2>
            <ul> 
                <p> <a><img src="{% static "img/banner.jpg" %}" alt="trailer park image" height= 200/></a> 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href= "{% url 'index' %}"> Home Page </a> | <a href= "{% url 'favs' %}"> Favorite Movies </a> |  <a href= "{% url 'movies' %}"> All  Movies </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a><img src="{% static "img/banner.jpg" %}" alt="trailer park image" height=200 /></a>
                </p>
            </ul>
        </h2>
    </div>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Trailer Park</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>